
/*-------------CABEÇALHO------------*/

.logousd {
    width: 75px;
    height: 75px;
}


.barraPesquisa {
    background-color: #EAEAEA;
    border: 3px solid #13953f;
    padding: 5px;
    width: 1600px;
    display: flex;
    align-items: center;
    margin: 20px 30px;
    border-radius: 15px;
}

.container {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.barraPesquisa input {
    background-color: #EAEAEA;
    width: 1600px;
    border: none;
}

.config {
    width: 50px;
    height: 50px;
}

.container ion-icon {
    width: 35px;
    height: 35px;
    margin-right: 35px;
    color: #13953f;
}

.gear {
    height: 50px;
    width: 50px;
}

.profile {
    height: 45px;
    margin-top: 17px;
    margin: 0 27px;
}



.botao {
    width: 260px;
    height: 50px;
    margin: 0 130px;
    background-color: #13953f;
    border-radius: 25px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.botao:hover{
    background-color: yellowgreen;
}

.botoes p {
    color: white;
    font-size: larger;
}

.botoes {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 15px;
}

/*-------------TELA ALOCAÇÃO---------------*/

.container2 {
    border: 3px solid #13953f;
    padding: 30px;
    margin-left: 400px;
    height: 318px;
    border-radius: 25px;
    display:flex;
    flex-direction: column;
    width: 998px;
    margin-top: 60px;
    background-color: #EAEAEA;
}
.linha{
    display: flex;
    justify-content: space-around;
    margin: auto;
}
.dados{
    margin: 0 60px;
}

a{
    text-decoration:none ;
}
.input1{
    border-radius: 15px;
    width: 180px;
    height: 37px;
    border: 2px solid #13953F ;
    background-color: white;


}
.input2{
    border-radius: 15px;
    width: 109px;
    height: 37px;
    border: 2px solid #13953F ;
    background-color: white;

}
.input3{
    border-radius: 15px;
    width: 316px;
    height: 37px;
    border: 2px solid #13953F ;
    background-color: white;

}
p{
    color: #13953F;
    width: 102px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.pribotao{
    width: 79px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid red;
    background-color: #13953F;
    color: white;
}
.segbotao{
    width: 108px;
    height: 40px;
    background-color: white;
    color: #13953F;
    border-radius: 20px;
    border: 2px solid #13953F;
    font-weight: bolder;
}
.terbotao{
    width: 187px;
    height: 40px;
    border-radius: 20px;
    color: white;
    background-color: #13953F;
    border: 1px solid #13953F;
}
.linha3{
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-left: 50%;
}
.segbotao:hover{
    background-color: rgb(231, 164, 164);
}