
.logousd {
    width: 75px;
    height: 75px;
}

.barraPesquisa{
border: 3px solid #13953f;
padding: 5px;
width: 1600px;
display: flex;
align-items: center;
margin:20px 30px;
border-radius: 15px;

}

.container{
    display: flex;
    justify-content:space-evenly;
    padding: 10px;
    width: 100%;
    
}

.barraPesquisa input{
    border: none;
    justify-content: center;
    width: 1400PX;
    

}

.config {
    width: 50px;
    height: 50px;

}

.container ion-icon {
    height: 35px;
    background-color: black;
    color: #13953f;
}

.gear{
    margin-right: 150px;
    margin-top: 17px;
    height: 45px;
}
.profile{
    margin-right: 250px;
    margin-top: 21px;
    height: 45px; 
}
.container2{
    border: 3px solid #13953f;
    padding: 30px;
    margin-left: 300px;
    height: 150px;
    border-radius: 25px;
    display: inline-flex;
    width: 900px;
    
}

.text{
width: 41px;
height: 25px;
top: -861px;
left: -254px;
gap: 3px;
opacity: 0px;
color: #13953f;
margin-left: 48px;
font-family: "palanquin dark";
}


.entrada{
border: 3px solid #13953f;
padding-left: 30px;
height: 60px;
border-radius: 25px;
width: 150px;
margin-left: 20px;
margin-bottom: 60px;
}

.lixeira{
    height: 50px;
    margin: auto;
    margin-top: 57px;
}