@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;500;600;700&display=swap');
:root{
    font-family: 'Palanquin Dark';
    color: #13953F;
}

body{
    background-image: url(imagens/foto-usina.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
  
}
.formLogin {
    width: 494px;
    height: 444px;
    background: rgba(255, 255, 255, 0.7);
    border: 4px solid #13953F;
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}


.logo{
    height: 69px;
    width: 69px;
    padding-top: 20px;
    margin: auto;
    display: flex;
}

.headerform{
    margin: 212.5;
}

button{
    color: white;
    background-color: #13953F;
    width: 441px ;
    height: 50px;
    margin:26.5px;
    border: 1px;
    border-radius: 15px;
    font-family: 'Palanquin Dark';
    font-size: large;  
}
input{
    border-radius: 20PX;
    border: 3px solid #13953F;
    width: 443px;
    outline: none;
}

a{
    text-decoration: none;
    color: #13953F:#13953F;
    
}
.senha{
    text-align:left;
    margin-bottom: 2px;
}

.form_input{
    padding-bottom: 5px;
}
a:hover{
    cursor:pointer;
}
 .btncadastrar:hover{
    cursor: pointer;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
 }
 .nome_sobrenome{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
 }
 .titulo{
    text-align: center;
    font-weight: bold;
 }
 .inpnome{
    width: 213px;
    height: 39px;
    margin-left: 5px ;
 }
 .text1{
    margin-left: 10px;
    margin-bottom: 1px;
 }
 .inpsobrenome{
    width: 213px;
    height: 39px;
    margin-right: 5PX;
 }
 .text2{
    margin-right: 10px;
    margin-bottom: 1px;
 }
 .inpemail{
    width: 441px;
    height: 39px;
    border-radius: 15px;
    justify-content: center;
    margin: auto;
    display: flex;
 }
 .text3{
    margin-right: 10px;
    margin-bottom: 1px;
    margin-left: 10px;
    text-align: center;
 }
